input[name="page-length-option_length"] {
	display: block !important;
	border: solid black 1px !important;
}


th,td
	{
	text-align: center;
	border: 1px black solid;
	padding: 8px;
	}
th
	{
		color: #fecf30;
	}
td
	{
		color: #eb9321;

	}
input 
	{
	color: #eb9321!important;
	width: 39%;

    }
img
	{
		max-width:280px;
		margin-top: 10px;
	}
.fileupload
	{
        padding:10px;
        margin: 10px 0 0 40px;
	}
label
	{
		color: #ee9a1e !important;
		margin-left: 12px !important;
	}
select
	{
		color: #ee9a1e !important;
	}
.heading
{
	font-weight: bold;
    color: #ff8509;
    font-family: auto;
    font-size: x-large;
    margin: 0 0 0 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ff8509;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ff8509;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: #ff8509;
  }